
.highlight-text {
  color: yellow;
  text-decoration: underline;
}

.highlight-text:hover {
  text-shadow:
    -3px    -3px    0   #000,
    0    0   4px  magenta,
    0    0  10px  magenta,
    0    0  20px  magenta;
}