
html, body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(10, 10, 10, 0.95);
  border-radius: 0 0 10px 10px;
  color: white;
  height: 55px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.header_font {
  font-family: var(--font-header);
  font-size: 40px;
  color: cyan;
  text-shadow:
     /* 3px     3px    0   #000, */
    -3px    -3px    0   #000,
    0    0   4px  magenta,
    0    0  10px  magenta,
    0    0  20px  magenta;
  filter: drop-shadow(0 0 100px magenta);
  margin: 0;
  line-height: 1;
  transform: translateY(1px);
  padding-left: 10px;
}

.main-content {
  font-family: var(--font-pixel-slim);  
  color: cyan;
  font-size: 15px;
  padding: 2rem;
  padding-left: 35px;
  padding-top: 55px;
  background-color: transparent;
  text-shadow: 1px 1px 2px black, 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.highlight {
  color: yellow;
  text-decoration: underline;
}

.settings-tray {
  position: fixed;
  bottom: 20px;
  left: -255px;
  width: 223px;
  height: 300px;
  padding: 16px;
  background-color: rgba(10, 10, 10, 0.95);
  color: #00ffcc;
  border-radius: 0 10px 10px 0;
  /* border: 1px solid #00ffcc;
  border-radius: 8px; */
  /* font-family: 'Press Start 2P', monospace; */
  /* font-size: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 255, 255, 0.3); */
  z-index: 1000;
  transition: left 0.3s ease;
}

.settings-tray.open {
  left: 0;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.tray-tab {
  font-family: var(--font-pixel-slim);
  font-size: 20px;
  padding-right: 8px;
  /* padding-top: 10px; */
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  writing-mode: vertical-rl; 
  text-shadow:
     /* 3px     3px    0   #000, */
    -3px    -3px    0   #000,
    0    0   4px  magenta,
    0    0  10px  magenta,
    0    0  20px  magenta;

  border-color: transparent;
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  height: 95px;
  background-color: rgba(0, 255, 255, 0.7);
  border-radius: 0 10px 10px 0;
  text-align: center;
  cursor: pointer;
  z-index: 1001;
  transition: left 0.3s ease;
}

.tray-tab-normal-font{
  padding-right: 0 !important;
  font-size: 1.1rem !important;
}

.tray-tab.open {
  left: 254.5px;
}

.tray-tab:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}

.tray-tab:active {
  background-color: rgba(0, 255, 255, 0.4);
}

.tray-tab:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}