.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 60px;
  height: 26px;
  margin: 10px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  image-rendering: pixelated;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/switch_bg_off.png");
  background-size: 100% 100%;
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 32px;
  width: 28px;
  bottom: 0px;
  background: url("../assets/switch_slider.png");
  background-size: 28px 32px;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.7);
}

.toggle:checked + .slider {
  background: url("../assets/switch_bg_on.png");
  background-size: 100% 100%;
}

.toggle:checked + .slider:before {
  transform: translateX(32px);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}

.efx-settings {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "pixel_slim";
  color: #00ffff;
}